<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Personium Unit Manager</display-name>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
<param-name>TOKEN</param-name>
<param-value>7C0F52C673A75FE8EA03829A8D6A97BC</param-value>
</context-param>
	<session-config>
	<session-timeout>60</session-timeout>
		<cookie-config>
			<http-only>true</http-only>
			<secure>true</secure>
		</cookie-config>
	</session-config>
	<servlet>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>io.personium.gui.portal.servlet.HomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Info</servlet-name>
		<servlet-class>io.personium.gui.portal.servlet.InfoStoreServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Info</servlet-name>
		<url-pattern>/Info</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>io.personium.gui.portal.servlet.UnitUserRegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>io.personium.gui.portal.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogOut</servlet-name>
		<servlet-class>io.personium.gui.portal.servlet.LogOutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogOut</servlet-name>
		<url-pattern>/LogOut</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>check</servlet-name>
		<servlet-class>io.personium.gui.portal.servlet.CheckServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>check</servlet-name>
		<url-pattern>/check</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TokenGeneration</servlet-name>
		<servlet-class>io.personium.gui.portal.servlet.TokenGeneration</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TokenGeneration</servlet-name>
		<url-pattern>/__token</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateEnvironment</servlet-name>
		<servlet-class>io.personium.gui.portal.servlet.CreateEnvironmentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateEnvironment</servlet-name>
		<url-pattern>/CreateEnvironment</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChangePassword</servlet-name>
		<servlet-class>io.personium.gui.portal.servlet.ChangePasswordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangePassword</servlet-name>
		<url-pattern>/ChangePassword</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditUserInfo</servlet-name>
		<servlet-class>io.personium.gui.portal.servlet.EditUserInformationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditUserInfo</servlet-name>
		<url-pattern>/EditUserInfo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteEnvironmentServlet</servlet-name>
		<servlet-class>io.personium.gui.portal.servlet.DeleteEnvironmentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteEnvironmentServlet</servlet-name>
		<url-pattern>/DeleteEnvironment</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdministratorManagement</servlet-name>
		<servlet-class>io.personium.gui.portal.servlet.AdministratorManagementServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdministratorManagement</servlet-name>
		<url-pattern>/AdministratorManagement</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>UnitManagementServlet</servlet-name>
	<servlet-class>io.personium.gui.portal.servlet.UnitManagementServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>UnitManagementServlet</servlet-name>
	<url-pattern>/UnitManagement</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>MailServlet</servlet-name>
	<servlet-class>io.personium.gui.portal.servlet.MailerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>MailServlet</servlet-name>
	<url-pattern>/MailServlet</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>AuthenticationFilter</filter-name>
		<filter-class>io.personium.gui.portal.AuthenticationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/htmls/*</url-pattern>
	</filter-mapping>
</web-app>